div(data-hook="step-grid-view-container")
	if !rows
		div.loading loading...
	else
		table
			each row in rows
				tr.grid-row
					td.metadata-cell
						span #{row.poolEntry || '--'}
					- for (var iStep = 0; iStep < row.steps.length; ++iStep) {
						td.grid-step(class=row.steps[iStep] >= 0.5 ? 'step-on' : '' data-row-id="#{row.id}" data-step-index="#{iStep}")
					- }
					td.delete-row
						button.delete-row(data-row-id="#{row.id}") -
			tr.add-row
				td(colspan=2)
					button.add-row +
